*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.serices{
    text-align: center;
    margin: auto;
    
}
.serices h3{
    font-family: 35px;
    margin-bottom: 15px;
}
.serices p{
    font-size: 18px;
}